@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

.item-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 1rem;

  &__buttons {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__image {
    border-radius: 3rem;
    width: 60vw;
    height: 20vh;
  }

  &__status {
    margin-left: auto;
    margin-right: 5vw;
  }

  &__pickup-point {
    color: #0075ff;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 5vw;
  }

  &__description {
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 5vw;
    color: #6c7580;
  }
}

.drawer {
  &__title {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-weight: 800;
    font-family: 'Assistant';
    color: black;
  }

  &__buttons {
    position: absolute;
    bottom: 2vh;
    display: flex;
    width: 100vw;;
    justify-content: space-evenly;

    &--cancel {
      background-color: transparent;
      color: black;
      font-weight: 600;
    }

    &--delete {
      background-color: red;
      font-weight: 600;
    }
  }
}